@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all 
        hover:border-[#008000]/40 hover:text-[#008000]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-6 border-[#242424]
         text-gray-500 placeholder-gray-500 transition-all focus:text-[#008000]/40 hover:border-[#008000]/40
    }

    .card-gradient {
        overflow: hidden;
        color: black;
    }

    .card-gradient::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(https://grainy-gradients.vercel.app/noise.svg);
        opacity: 0.99; 
        pointer-events: none;
    }
}